html {
	background-color: #f3f3f3;
	overflow-y: scroll;
}

body {
	background-color: #222222
	margin: 0 auto;

}

header {

}
/* overall nav rules */
nav {
	color: #222;
	font-style: 'WF-026510-009147-001253';

}

/* nav first list w/all tabs */
nav ul {

}

/* nav individual list items */
nav li {

}

/* nav anchor (link itself) */
nav a {

}

/* nav hover to change colors */
nav a:hover {

}

/* article heading */
h1 {

}



/* article description */
h2 {


}

/* article text */
h3{


}


/* smallest font */
h4 {

}

/* images */
img.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	
}



